@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#0D0D0D] text-white antialiased;
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
    }
}

@layer utilities {

    /* Esconde a barra de rolagem em toda a aplicação onde a classe for usada */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .snap-y-mandatory {
        scroll-snap-type: y mandatory;
    }

    .snap-start {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar,
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}